@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sf: 'SF Pro Display', sans-serif;
  --font-satoshi: 'Satoshi', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body,html{
    max-width: 100vw;
}
html,body{
overflow-x: hidden;    
}
